/* styles.css */

/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  nav ToDo Logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Specific Styles */
  
  header h1 {
    display: inline;
    margin-left: 10px;
  }
  
  header img {
    height: 160px;
    vertical-align: middle;
    margin-right: 10px;
  }




body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Specific Styles */

header h1 {
  display: inline;
  margin-left: 10px;
}

header img {
  height: 160px;
  vertical-align: middle;
  margin-right: 10px;
}

section {
  margin-bottom: 20px;
}

section img {
  max-width: 100%;
  height: auto;
}

section h2 {
  margin-top: 20px;
  width: 200px
  
}

section p {
  line-height: 1.5;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

form button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */

@media screen and (min-width: 768px) {
  section {
    display: flex;
    align-items: center;
  }

  section img {
    margin-right: 20px;
    max-width: 300px;
    height: auto;
  }

  section h2 {
    margin-top: 0;
  }

  form {
    max-width: 400px;
    margin: auto;
  }
}